<div class="slides">


    <section class="stack">
        <section>
            <h3>
                <div>Полный цикл тестирования микросервисов</div>
                <div> в Docker контейнерах</div>
            </h3>
        </section>
    </section>

<!--    <section class="stack">
        <section>
            <div><font color="#dc143c">(Подумать над заголовками!)</font></div>
            <div><font color="#dc143c">(Орфография и переносы текста, формат 16:9!)</font></div>
            <div><font color="#dc143c">(Нужен пример который будет проходить через все секции доклада!)</font></div>
            <div><font color="#dc143c">(Нумерация слайдов)</font></div>
        </section>
    </section>-->

    <!--Вступление-->
    <section class="stack">
        <section data-transition="slide-in fade-out">
            <h2>Вопросы залу</h2>
            <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
            <div>Кто занимается тестированием микросервисов?</div>
            <!--<div>У кого интеграция через базу?</div>-->
            <!--<div>Кто вовлечен в выпуск релизов? Кто из вас задерживался до ночи? до понедельника?</div>-->
            <!--<div>Кто понимает что надо что-то менять?</div>-->
        </section>

        <section data-transition="slide-in fade-out">
            <h2>О чем?</h2>
            <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
            <div>Дадим рецепты как построить CD для микросервисов</div>
            <div>Предоставим пример реализации</div>
            <div>Сейчас мы вас научим</div>
            <div>Как сделать тестирование микросервисов веселым и простым</div>
        </section>

        <!--<section>-->
            <!--<h2>Вопросы в секциях</h2>-->
            <!--<div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>-->
            <!--<div>У кого в компании используется SOA? У кого Micro Services?</div>-->
            <!--<div>У кого в компании есть свой тестовый фрэймворк? А кого он превратился в кракена?</div>-->
            <!--<div>Кому уже недостаточно запускать тесты параллельно?</div>-->
            <!--<div>Кто использует Jenkins, шаблоны, jod-dsl, pipeline, больше 3-х экзекуторов?</div>-->
        <!--</section>-->

    </section>



    <!--Основная часть-->

        <!--Положение дел на сегодня-->
        <section class="stack">

            <section data-transition="slide-in fade-out">
                <h2>Сервис</h2>
                <div>Обслуживает большую часть API</div>
                <div><font color="#dc143c">(жирный сервис/что за банан?)</font></div>
                <div>

                </div>
                <img class="croissant fragment fade-out" data-fragment-index="0"
                     style="position:absolute; top: 110%; left: 35%;" data-src="img/monolith.gif">
                <img class="croissant fragment fade-in" data-fragment-index="0"
                     style="position:absolute; top: 110%; left: 40%;" data-src="img/banana.png">
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Cервис</h2>
                <div style="padding-top: 1em; display: flex; justify-content: space-between">
                    <div class="fragment fade-up" style="float: left; width: 28%;">
                        <div class="circle">
                            <div class="circle__inner">
                                <div class="circle__wrapper">
                                    <div class="circle__content">
                                        <div>сервис</div>
                                        <p>237,000 SLOC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fragment fade-up" style="float: left; width: 28%;">
                        <div class="circle">
                            <div class="circle__inner">
                                <div class="circle__wrapper">
                                    <div class="circle__content">
                                        <div>тесты</div>
                                        <p>229,000 SLOC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fragment fade-up" style="float: left; width: 28%;">
                        <div class="circle">
                            <div class="circle__inner">
                                <div class="circle__wrapper">
                                    <div class="circle__content">
                                        <div>комментарии к тестам</div>
                                        <p>200,000 LOC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Вопрос</h2>
                <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
                <div>У кого черт ногу сломит в архитектурной диаграмме?</div>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Cервис</h2>
                <div>Часть большой инфраструктуры</div>
                <div><font color="#dc143c">(картинка сервиса как части целого/что за банан?)</font></div>
                <img class="croissant fragment fade-out" data-fragment-index="0"
                     style="position:absolute; top: 110%; left: 30%;" data-src="img/soa.gif">
                <img class="croissant fragment fade-in" data-fragment-index="0"
                     style="position:absolute; top: 110%; left: 40%;" data-src="img/banana.png">
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Вопрос</h2>
                <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
                <div>Кому для тестового окружения нужен дата центр?</div>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>
                    <div>Окружение</div>
                    нормального человека
                </h2>
                <img class="croissant" style="padding-top: 1em;" data-fragment-index="0"
                     data-src="img/upad.png">
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Тестовое окружение</h2>
                <div><font color="#dc143c">(переделать буллиты!)</font></div>
                <ul>
                    <li class="fragment">Минимальное окружение - 70 VM, 120 vCPU, 160GB RAM</li>
                    <li class="fragment">Окружение для каждой команды</li>
                    <li class="fragment">4 общих окружения для проекта</li>
                    <li class="fragment">Выделенная команда для поддержки окружений</li>
                    <li class="fragment"><font color="#dc143c">Добавляет и настраивает компоненты, деплоит окружения</font></li>
                </ul>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Вопрос</h2>
                <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
                <div>У кого надо записываться на мерж в мастер за 3 месяца?</div>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Процесс релиза</h2>
                <div><font color="#dc143c">(нужна картинка, перефразировать)</font></div>
                <div>7 команд работают с одним репозиторием</div>
                <div>В общую ветку код сливается после прохождения регрессии на эталонном окружении
                    <font color="#dc143c">(перефразировать)</font>
                </div>
                <div>Один день - одна команда<font color="#dc143c">(тратим время на разбор результатов, проблемы тестов или окружения)</font></div>
                <div>В реальности на подготовку релиза уходит 1 месяц</div>
                <!--подход не маштабируется, уходит 1 месяц на мерж-->
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Регрессионное тестирование</h2>
                <div><font color="#dc143c">(переделать буллиты!)</font></div>
                <ul>
                    <li class="fragment">15,000 тестов за 1,5 часа <font color="#dc143c">(проверяем реальные интеграции, мокаем только внешние сервисы)</font></li>
                    <li class="fragment">3 часа на подготовку окружения <font color="#dc143c">(создаем аккаунты для тестирования, приводим окружение в порядок)</font></li>
                </ul>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Микросервисы</h2>
                <div>В процессе декомпозиции</div>
                <div><font color="#dc143c">(картинка разеделения сервис)</font></div>
                <img class="croissant fragment fade-out" data-fragment-index="0"
                     style="position:absolute; top: 110%; left: 30%;" data-src="img/microservices.gif">
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Вопрос</h2>
                <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
                <div>Кто думают что микросервисы нас спасут?</div>
            </section>

            <!--Последствия бездействия-->
            <section data-transition="slide-in fade-out">
                <h2>Что изменится?</h2>
                <div><font color="#dc143c">(переделать слайд!)</font></div>
                <ul>
                    <li>50 человек перестанут работать в одном репозитории</li>
                    <li>Архитектураня диаграмма станет больше</li>
                    <li>Релизы станут длиннее</li>
                    <li>Нам потребуется новый тестовый фрэймворк</li>
                    <li>Поддержка CI-сервера усложняется</li>
                    <!--<li><font color="#dc143c">Все становится еще хуже</font></li>-->
                </ul>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>CHALLENGE ACCEPTED</h2>
                <div><font color="#dc143c">(переделать слайд!)</font></div>
                <img class="croissant" data-fragment-index="0"
                     data-src="img/Challenge-Accepted-Meme.jpg">
            </section>

        </section>

        <!--Варианты действий-->

        <!--Сокращаем размер регрессии-->

    <section data-transition="slide-in fade-out">
        <h2>Вопрос</h2>
        <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
        <div>Кто повелся на слово Docker в названии доклада?</div>
    </section>

        <section class="stack">
            <h2>Используем Docker как способ дистрибьюции</h2>
            <div><font color="#dc143c">(переделать слайд)</font></div>
            <ul>
                <li>При использовании VM окружения будут различаться</li>
                <li>Имеем полностью рабочий артефакт который можно запустить везде и всегда</li>
                <li>Храним всю конфигурацию в самом сервисе</li>
            </ul>
        </section>

        <section class="stack">
            <h2>Меняем подход к тестированию</h2>
            <div><font color="#dc143c">(переделать слайд)</font></div>
            <ul>
                <li>Больше тестов с заглушками для отдельных сервисов</li>
                <li>Меньше тестов в общей регрессии</li>
                <li>Большинству команд не нужно огромное окружение, тестов в общей регрессии меньше и они проходят быстрее</li>
            </ul>
        </section>

        <section class="stack">
            <section data-transition="slide-in fade-out">
                <h2>Дайте мне пример!</h2>
                <div><font color="#dc143c">(тралала)</font></div>
            </section>
        </section>

    <section class="stack">
        <section data-transition="slide-in fade-out">
            <h2>Тестовое окружение</h2>
            <div><font color="#dc143c">(переделать слайд)</font></div>
            <ul>
                <li class="fragment">Необходим контроль за состоянием окружений</li>
                <li class="fragment">Единый механизм установки сервисов</li>
            </ul>
        </section>


    <section data-transition="slide-in fade-out">
        <h2>Инструменты</h2>
        <div><font color="#dc143c">(переделать слайд - логотипы)</font></div>
        <ul>
            <li class="fragment">Можно сделать из подручных средств и палок</li>
            <li class="fragment">Самый простой вариант docker-compose</li>
            <li class="fragment">Управление ресурсами и оркестрация - Mesos, Kubernetes, Nomad, Terraform</li>
            <li class="fragment">Service discovery - Consul, Zookeeper</li>
            <li class="fragment">Балансировка - HAProxy, NGINX</li>
        </ul>
        <!--конфиг снаружи, контейнер не меняется-->
        <!--SDI?-->
    </section>
        </section>

    <section data-transition="slide-in fade-out">
        <h2>Вопрос</h2>
        <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
        <div>Вопрос к тем кто еще не тестирует микросервисы: сможет ли ваш тестовый фрэймворк?</div>
    </section>

        <section class="stack">
        <section data-transition="slide-in fade-out">
            <h2>Тестовый фреймворк это</h2>
            <blockquote>легендарное мифическое морское чудовище гигантских размеров, головоногий моллюск, известный по описаниям исландских моряков, из языка которых и происходит его название.</blockquote>
            <div>то есть - кракен</div>
            <div><font color="#dc143c">плавая на большом корабле, все было ок, но мы пересели на лодки и нам стало стремно</font></div>
        </section>
            <section data-transition="slide-in fade-out">
                <h2>Картинка с абстрактным кракеном</h2>
                <div><font color="#dc143c">(нужна картинка)</font></div>
            </section>
        <section data-transition="slide-in fade-out">
            <h2>
                <div>Что делать?</div>
            </h2>
            <div><font color="#dc143c">(переделать)</font></div>
            <div class="fragment">когда текущий тестовый фрэймворк <em>уже</em> не получился</div>
            <div class="fragment">а новый <em>ещё</em> не получился</div>
            <ul style="text-align: left;">
                <li class="fragment">Разделить на независимые модули</li>
                <li class="fragment">Не должно быть жесткой связности<font color="#dc143c">(пояснить!)</font></li>
                <li class="fragment">Вместо костылей - вносить вклад open-source</li>
                <li class="fragment">Повышать квалификацию специалистов</li>
            </ul>
        </section>

        <section data-transition="slide-in fade-out">
            <h2>Картинка с Wonderful Testing Framework</h2>
            <div><font color="#dc143c">(нужна картинка)</font></div>
        </section>
    </section>

    <section data-transition="slide-in fade-out">
        <h2>Вопрос</h2>
        <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
        <div>Кто использует Jenkins Pipeline?</div>
    </section>

    <section class="stack">
            <h2>Continuous Deployment(Delivery)</h2>
            <!--<div><font color="#dc143c">Рассказ про то что выпускать маленькие релизы проще и удобнее</font></div>-->
            <!--<div><font color="#dc143c">Рассказ про то что все очень просто сделать на базе Jenkins Pipeline</font></div>-->
        <div><font color="#dc143c">(нужна картинка)</font></div>
    </section>

    <section class="stack">
            <h2>Дайте мне пример!</h2>
            <div><font color="#dc143c">(тралала)</font></div>
    </section>

    <section data-transition="slide-in fade-out">
        <h2>Вопрос</h2>
        <div><font color="#dc143c">УБРАТЬ ЭТОТ СЛАЙД!!!</font></div>
        <div>Кто может по логу в тестовом отчете назвать точную причину падения? (картинка assertTrue(false))</div>
    </section>

        <section class="stack">
            <section data-transition="slide-in fade-out">
            <h2>Делаем понятные тестовые отчеты</h2>
            <div><font color="#dc143c"></font></div>
                <ul style="text-align: left;">
                    <li class="fragment">Собирать много данных в один отчет</li>
                    <li class="fragment">Разные уровни детализации <font color="#dc143c">(сервис-сьют-тест)</font></li>
                    <li class="fragment">API для интеграции</li>
                    <li class="fragment">Результаты в реальном времени</li>
                </ul>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Инструменты</h2>
                <div><font color="#dc143c">(Картинка с переходом)</font></div>
            </section>

            <section data-transition="slide-in fade-out">
                <h2>Yandex Allure Report</h2>
                <ul style="text-align: left;">
                    <li class="fragment"><font color="#dc143c">Удобный</font></li>
                    <li class="fragment"><font color="#dc143c">Кастомизируемый</font></li>
                    <li class="fragment"><font color="#dc143c">Нет истории</font></li>
                </ul>
                <h2 class="fragment">Epam Report Portal</h2>
                <ul style="text-align: left;">
                    <li class="fragment"><font color="#dc143c">Результат в реальном времени</font></li>
                    <li class="fragment"><font color="#dc143c">Хранит историю</font></li>
                    <li class="fragment"><font color="#dc143c">Есть API</font></li>
                </ul>
            </section>


        </section>

    <section class="stack">
        <h2>Дайте мне пример!</h2>
        <div><font color="#dc143c">(тралала)</font></div>
    </section>


    <!--Приемущества-->
    <section class="stack">
        <section class="stack">
            <h2>Подводим итог</h2>
            <div><font color="#dc143c">(переделать слайд!)</font></div>
            <ul>
            <li>У нас меньше размер регрессии и она не увеличивается лавинообразно при добавлении новых сервисов</li>
            <li>Наш тестовый фреймворк наконец то можно использовать и не плодить костыли в каждом репозитории</li>
                <li>По нашим отчетам наконец то можно понять что сломалось, где, когда и кто виноват</li>
            </ul>
        </section>

        <section class="stack">
            <h2>Подводим итог</h2>
            <div><font color="#dc143c">(переделать слайд!)</font></div>
            <ul>

                <li>Наши сервисы сами умеют себя собирать, деплоить и тестировать</li>
                <li>Мы имеем артефакт который можно развернуть где угодно, из них можно собрать любую конфигурацию окружения и у нас единый способ доставки артефактов</li>
            </ul>
        </section>

        <!--Кульминация-->
        <section class="stack">
            <h2><font color="#dc143c">Вот как тестирование микросервисов может быть веселом и простым</font></h2>
            <div><font color="#dc143c">(Картинка с поняшами)</font></div>
            <!--Мы больше не тратим кучу времени на их выпуск и поддержку-->
            <!--Мы можем спокойно заниматься тестированием-->
        </section>

    </section>

    <!--Заключение-->
    <section class="stack">
        <div>контакты</div>
        <div>сслыка на пример</div>
        <!--Нужно подвести к кульминации и повторить основную мысль доклада-->
    </section>
</div>


