// Define your custom style here.

.reveal
.reveal h1
.reveal h2
.reveal h3
.reveal h4
.reveal h5
.reveal h6
	font-family n, '微软雅黑'

.reveal h1
	text-shadow none

// Fix the bootstrap
pre
	background-color transparent
	code
		white-space inherit

.reveal
	a
		font-weight bold
		color rgb(82, 161, 206)
		&:hover
			color rgb(35, 161, 233)

	li, p
		line-height 1.5em

	i
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;

.croissant {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    display: inline-block;
}

.circle {
	position: relative;
	display: block;
	margin: 2em 0;
	text-align: center;
}

.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #ffffff;
	content: "";
}

.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.circle__content {
	display: table-cell;
	padding: 100em;
	vertical-align: middle !important;
}